body {
	background-color: grey;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

.header {
	background-color: rgba(40, 40, 52, 1);
  }
  
/*.menu {
	text-align: center;
	background-image: url("https://images5.alphacoders.com/324/324950.jpg");
}*/

.menu {
	text-align: center;
	background-image: url("../assets/img/backgound.jpg");
}

.app {
	display: flex;
	flex-flow: column;

	width: 100vw;
	height: 100vh;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
}

.lists {
	margin-top: 2em;
	display: flex;
	flex: 1;
	width: 100%;
	overflow-x: scroll;
}

.lists .list {
	display: flex;
	flex-flow: column;
	flex: 1;

	background-color: rgba(148, 216, 244, 0.5);
	margin: 0 15px;

	color: white;

  	box-sizing: border-box;
  	padding: 20px;

	background-color: rgba(148, 216, 244, 0.5);
	display: inline-block;
	overflow: auto; /* Ajoutez cette ligne pour gérer le débordement */
	max-height: calc(100vh - 200px); /* Ajustez cette valeur en fonction de votre mise en page */
	
}

.lists .list .list-item {
	background-color: #f3f3f3;
	color: black;
	border-radius: 80px;
	padding: 15px 20px;
	text-align: center;
	margin: 4px 0px;
}

h1 {
	color: white;
	text-align: center;
	padding-top: 1em;
}

h3 {
	text-align: center;
	color: grey;
}

.navbar {
	position: absolute;
	padding: 50px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
  }
  
  .navbar a {
	color: white;
  }
  
  .navbar .logo {
	font-size: 2em;
	font-weight: bold;
  }
  
  .navbar .nav-links ul {
	display: flex;
  }
  
  .navbar .nav-links ul li {
	margin: 0 25px;
  }
  
  .navbar .nav-links ul li.active a {
	color: rgba(0, 150, 255, 1);
	font-weight: 600;
	border-bottom: 2px solid rgba(0, 150, 255, 1);
  }
  
  .navbar .menu-hamburger {
	display: none;
	position: absolute;
	top: 50px;
	right: 30px;
	width: 35px;
  }
  
  nav form input[type="submit"] {
	color: rgba(0, 150, 255, 1);
	font-weight: 600;
	background-color: transparent;
	border: none;
	line-height: inherit; /* Utilise la même hauteur de ligne que les autres éléments */
	font-size: inherit; /* Utilise la même taille de police que les autres éléments */
	cursor: pointer;
  }

/* Style du bouton de déconnexion */
.deconnexion-btn {
	background-color: #f44336; /* Couleur de fond */
	color: white; /* Couleur du texte */
	border: none; /* Supprimer la bordure */
	padding: 10px 20px; /* Espacement intérieur */
	text-align: center; /* Alignement du texte au centre */
	text-decoration: none; /* Supprimer la décoration de texte par défaut */
	display: inline-block; /* Afficher en ligne */
	font-size: 16px; /* Taille de police */
	cursor: pointer; /* Curseur pointeur au survol */
	border-radius: 4px; /* Bordure arrondie */
	/* Alignement au centre */
	display: block; /* Convertir l'élément en bloc */
	margin: 0 auto; /* Marge automatique pour centrer horizontalement */
	margin-bottom: 1em;
  }
  
  .deconnexion-btn:hover {
	background-color: #d32f2f; /* Couleur de fond au survol */
  }
  
  .deconnexion-btn:focus {
	outline: none; /* Supprimer l'effet d'outline au focus */
  }

  .module-btn {
	display: inline-block;
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
  }
  
  .module-btn-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('https://cdn-icons-png.flaticon.com/512/3524/3524659.png');
	background-size: cover;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-right: 5px;
  }
  
  .error-container {
    display: flex;
    justify-content: center;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.error-background {
    background-image: url('https://wallpapers.com/images/hd/red-forest-trees-n8z3bf3dv0b2cj6w.jpg');
}